@charset "UTF-8";


* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: "나눔스퀘어", sans-serif;
}
a, label, button { cursor: pointer; user-select: none; }
a, a:hover { text-decoration: none; }
p { line-height: 1.5em; word-break: keep-all; margin-bottom: 0; }

.text-nowrap { white-space: nowrap; }
.text-ellipsis { width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.fit-cover { object-fit: cover; width: 100%; height: 100%; }
.padding { padding-top: 6em; padding-bottom: 6em; }
.d-between { display: flex; align-items: center; justify-content: space-between; }
.position-center { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); }
.segoe { font-family: "Segoe UI", sans-serif; }
.font-weight-bolder { font-weight: bolder; }


/* 버튼  */
button {
    background-color: transparent;
    border: 1px solid transparent;
    word-wrap: keep-all;
    outline: none;
    font-size: 0.9em;
}
button:hover {
    opacity: 0.7;
    outline: none;
}

.button-label {
    background-color: #30475e;
    color: #fff;
    padding: 0.8em 2em;
    position: relative;
    border: none;
    transition: 0.3s;
}

.button-label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    border-style: solid;
    border-width: 8px;
    border-color: #fff transparent transparent #fff;
    transition: 0.3s;
}

.button-label:hover {
    opacity: 1;
    background-color: #222831;
}

.button-label:hover::before {
    border-width: 0;
}

/* /버튼 */


/* 폰트 사이즈 */

.fx-n3 { font-size: .85em; } 
.fx-n2 { font-size: .9em; } 
.fx-n1 { font-size: .95em; } 

.fx-1 { font-size: 1em; }
.fx-2 { font-size: 1.2em; }
.fx-3 { font-size: 1.4em; }
.fx-4 { font-size: 1.6em; }
.fx-5 { font-size: 1.8em; }
.fx-6 { font-size: 2em; }
.fx-7 { font-size: 4em; }
.fx-8 { font-size: 5em; }

/* /폰트 사이즈 */


/* 테이블 */

.table-head, .table-item { display: flex; align-items: center; text-align: center; }
.table-head { height: 50px; border-bottom: 2px solid #ddd; font-size: 0.9em; color: #aaa; }
.table-item { min-height: 100px; padding: 1em 0; }

.cell-50 { flex: 0 0 50%; max-width: 50%; }
.cell-40 { flex: 0 0 40%; max-width: 40%; }
.cell-30 { flex: 0 0 30%; max-width: 30%; }
.cell-20 { flex: 0 0 20%; max-width: 20%; }
.cell-15 { flex: 0 0 15%; max-width: 15%; }
.cell-10 { flex: 0 0 10%; max-width: 10%; }

/* /테이블 */


/* 색상 */

.text-gray { color: #ccc; }
.bg-gray { background-color: #f7f7f7; }

.text-gold { color: #c1a57b; }
.bg-gold { background-color: #c1a57b }
.border-gold { border-color: #c1a57b }

.text-blue { color: #30475e; }
.bg-blue { background-color: #30475e }
.border-blue { border-color: #30475e }

.text-darkblue { color: #222831; }
.bg-darkblue { background-color: #222831 }
.border-darkblue { border-color: #222831 }

/* /색상 */

/* 타이틀 */

.title { font-size: 2em; color: #222831; }
.title::first-letter { color: #c1a57b; }
.title.blue::first-letter { color: #30475e }

/* /타이틀 */


/* 헤더 영역 */

header {
    height: 700px;
    margin-bottom: 130px;    
    background-color: #222831;
    position: relative;
}

/* GNB */

#gnb {
    max-width: 1440px;
    width: 100%;
    height: 130px;
    margin: 0 auto;
}

#gnb a { text-align: center; color: #ccc; }
#gnb a:hover { color: #c1a57b; }

#gnb .icon { font-size: 2em; display: block; }

.nav a { margin: 0 1.5em; }
.auth a { margin-left: 1.5em; }

.menu {
    z-index: 1;
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    background-color: #000a;
    transition: 0.4s;
}

.menu .inner {
    max-width: 380px;
    margin: 0 auto;
    margin-top: 100px;
}

#gnb .m-nav a {
    display: block;
    padding: .5em 0;
    text-align: left;
}

#gnb .m-auth a {
    display: inline-block;
    margin-top: 0.5em;
    margin-right: 1em;
    font-size: 0.95em;
}

#gnb .menu-icon {
    width: 2em;
    height: 2em;
    position: relative;
    z-index: 2;
}

#gnb .menu-icon div {
    width: 1.6em;
    height: 1px;
    background-color: #ccc;
    position: absolute;
    left: 0.2em;
    top: 1em;
    transition: 0.4s;
}

#gnb .menu-icon div:nth-child(1) { top: calc(1em - 0.6em) }
#gnb .menu-icon div:nth-child(3) { top: calc(1em + 0.6em) }

#gnb:hover .menu-icon div:nth-child(1) { top: 1em; transform: rotate(45deg); }
#gnb:hover .menu-icon div:nth-child(2) { transform: rotate(45deg); }
#gnb:hover .menu-icon div:nth-child(3) { top: 1em; transform: rotate(-45deg); }

#gnb:hover .menu { height: 400px; }


@media(max-width: 992px){
    header { margin-bottom: 80px; }
    #gnb { height: 80px; }
}

/* /GNB */




#visual {
    position: relative;
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
    height: 700px;
    box-shadow: 0 10px 30px #000;
    overflow: hidden;
}

#visual .design-line {
    height: 1px;
    width: 100vw;
    background-color: #ececec;
    position: absolute;
    z-index: 1;
    opacity: 0.4;
}

#visual .design-line:nth-child(1) { left: 60vw; top: 120px; }
#visual .design-line:nth-child(2) { right: 70vw; bottom: 120px; }


/* 슬라이드 */
#visual .images {
    position: absolute;
    left: 0;  top: 0;
    width: 300%;
    height: 100%;
    display: flex;
}

#visual .images img {
    width: calc(100% / 3);
    height: 100%;
    object-fit: cover;
    filter: brightness(40%);
}

@keyframes slide-1 {
    0%       { transform: translateX( calc(-100% / 3 * 0) ) }
    20%      { transform: translateX( calc(-100% / 3 * 0) ) }
    
    25%      { transform: translateX( calc(-100% / 3 * 1) ) }
    45%      { transform: translateX( calc(-100% / 3 * 1) ) }

    50%      { transform: translateX( calc(-100% / 3 * 2) ) }
    70%      { transform: translateX( calc(-100% / 3 * 2) ) }

    75%      { transform: translateX( calc(-100% / 3 * 1) ) }
    95%      { transform: translateX( calc(-100% / 3 * 1) ) }

    100%      { transform: translateX( calc(-100% / 3 * 0) ) }
}
@keyframes slide-2 {
    0%       { transform: translateX( calc(-100% / 3 * 1) ) }
    20%      { transform: translateX( calc(-100% / 3 * 1) ) }
    
    25%      { transform: translateX( calc(-100% / 3 * 2) ) }
    45%      { transform: translateX( calc(-100% / 3 * 2) ) }

    50%      { transform: translateX( calc(-100% / 3 * 1) ) }
    70%      { transform: translateX( calc(-100% / 3 * 1) ) }

    75%      { transform: translateX( calc(-100% / 3 * 0) ) }
    95%      { transform: translateX( calc(-100% / 3 * 0) ) }

    100%      { transform: translateX( calc(-100% / 3 * 1) ) }
}
@keyframes slide-3 {
    0%       { transform: translateX( calc(-100% / 3 * 2) ) }
    20%      { transform: translateX( calc(-100% / 3 * 2) ) }
    
    25%      { transform: translateX( calc(-100% / 3 * 1) ) }
    45%      { transform: translateX( calc(-100% / 3 * 1) ) }

    50%      { transform: translateX( calc(-100% / 3 * 0) ) }
    70%      { transform: translateX( calc(-100% / 3 * 0) ) }

    75%      { transform: translateX( calc(-100% / 3 * 1) ) }
    95%      { transform: translateX( calc(-100% / 3 * 1) ) }

    100%      { transform: translateX( calc(-100% / 3 * 2) ) }
}
@keyframes slide-4 {
    0%       { transform: translateX( calc(-100% / 3 * 1) ) }
    20%      { transform: translateX( calc(-100% / 3 * 1) ) }
    
    25%      { transform: translateX( calc(-100% / 3 * 0) ) }
    45%      { transform: translateX( calc(-100% / 3 * 0) ) }

    50%      { transform: translateX( calc(-100% / 3 * 1) ) }
    70%      { transform: translateX( calc(-100% / 3 * 1) ) }

    75%      { transform: translateX( calc(-100% / 3 * 2) ) }
    95%      { transform: translateX( calc(-100% / 3 * 2) ) }

    100%      { transform: translateX( calc(-100% / 3 * 1) ) }
}
@keyframes slide-1-copy {
    0%       { transform: translateX( calc(-100% / 3 * 0) ) }
    20%      { transform: translateX( calc(-100% / 3 * 0) ) }
    
    25%      { transform: translateX( calc(-100% / 3 * 1) ) }
    45%      { transform: translateX( calc(-100% / 3 * 1) ) }

    50%      { transform: translateX( calc(-100% / 3 * 2) ) }
    70%      { transform: translateX( calc(-100% / 3 * 2) ) }

    75%      { transform: translateX( calc(-100% / 3 * 1) ) }
    95%      { transform: translateX( calc(-100% / 3 * 1) ) }

    100%      { transform: translateX( calc(-100% / 3 * 0) ) }
}
@keyframes slide-2-copy {
    0%       { transform: translateX( calc(-100% / 3 * 1) ) }
    20%      { transform: translateX( calc(-100% / 3 * 1) ) }
    
    25%      { transform: translateX( calc(-100% / 3 * 2) ) }
    45%      { transform: translateX( calc(-100% / 3 * 2) ) }

    50%      { transform: translateX( calc(-100% / 3 * 1) ) }
    70%      { transform: translateX( calc(-100% / 3 * 1) ) }

    75%      { transform: translateX( calc(-100% / 3 * 0) ) }
    95%      { transform: translateX( calc(-100% / 3 * 0) ) }

    100%      { transform: translateX( calc(-100% / 3 * 1) ) }
}
@keyframes slide-3-copy {
    0%       { transform: translateX( calc(-100% / 3 * 2) ) }
    20%      { transform: translateX( calc(-100% / 3 * 2) ) }
    
    25%      { transform: translateX( calc(-100% / 3 * 1) ) }
    45%      { transform: translateX( calc(-100% / 3 * 1) ) }

    50%      { transform: translateX( calc(-100% / 3 * 0) ) }
    70%      { transform: translateX( calc(-100% / 3 * 0) ) }

    75%      { transform: translateX( calc(-100% / 3 * 1) ) }
    95%      { transform: translateX( calc(-100% / 3 * 1) ) }

    100%      { transform: translateX( calc(-100% / 3 * 2) ) }
}
@keyframes slide-4-copy {
    0%       { transform: translateX( calc(-100% / 3 * 1) ) }
    20%      { transform: translateX( calc(-100% / 3 * 1) ) }
    
    25%      { transform: translateX( calc(-100% / 3 * 0) ) }
    45%      { transform: translateX( calc(-100% / 3 * 0) ) }

    50%      { transform: translateX( calc(-100% / 3 * 1) ) }
    70%      { transform: translateX( calc(-100% / 3 * 1) ) }

    75%      { transform: translateX( calc(-100% / 3 * 2) ) }
    95%      { transform: translateX( calc(-100% / 3 * 2) ) }

    100%      { transform: translateX( calc(-100% / 3 * 1) ) }
}

@keyframes leftToCenter {
    from { transform: translateX( calc(-100% / 3 * 0) ) }
    to { transform: translateX( calc(-100% / 3 * 1) ) }
}
@keyframes rightToCenter {
    from { transform: translateX( calc(-100% / 3 * 2) ) }
    to { transform: translateX( calc(-100% / 3 * 1) ) }
}
@keyframes leftToCenter-copy {
    from { transform: translateX( calc(-100% / 3 * 0) ) }
    to { transform: translateX( calc(-100% / 3 * 1) ) }
}
@keyframes rightToCenter-copy {
    from { transform: translateX( calc(-100% / 3 * 2) ) }
    to { transform: translateX( calc(-100% / 3 * 1) ) }
}

#visual .images {
    animation-duration: 10s;
    animation-delay: calc(-10s + 0.5s);
    animation-iteration-count: infinite;
}

#slide-1:checked ~ #visual .images { animation-name: slide-1 }
#slide-2:checked ~ #visual .images { animation-name: slide-2 }
#slide-3:checked ~ #visual .images { animation-name: slide-3 }
#slide-4:checked ~ #visual .images { animation-name: slide-4 }
#slide-5:checked ~ #visual .images {
    animation-duration: 10s, 0.5s;
    animation-delay: 0s, 0s;
    animation-iteration-count: infinite, 1;
    animation-name: slide-4, leftToCenter;
}
#slide-6:checked ~ #visual .images {
    animation-duration: 10s, 0.5s;
    animation-delay: 0s, 0s;
    animation-iteration-count: infinite, 1;
    animation-name: slide-2, rightToCenter;
}
#slide-1-copy:checked ~ #visual .images { animation-name: slide-1-copy }
#slide-2-copy:checked ~ #visual .images { animation-name: slide-2-copy }
#slide-3-copy:checked ~ #visual .images { animation-name: slide-3-copy }
#slide-4-copy:checked ~ #visual .images { animation-name: slide-4-copy }
#slide-5-copy:checked ~ #visual .images {
    animation-duration: 10s, 0.5s;
    animation-delay: 0s, 0s;
    animation-iteration-count: infinite, 1;
    animation-name: slide-4-copy, leftToCenter-copy;
}
#slide-6-copy:checked ~ #visual .images {
    animation-duration: 10s, 0.5s;
    animation-delay: 0s, 0s;
    animation-iteration-count: infinite, 1;
    animation-name: slide-2-copy, rightToCenter-copy;
}


/* /슬라이드 */

/* 라벨 */

#visual .buttons {
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
    display: flex;
}

#visual .buttons .slide-btn {
    width: 2em;
    height: 2em;
    border: 1px solid #c1a57b;
    color: #c1a57b;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#visual label {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}


@keyframes label-1  {
    0%      {z-index: 1;}
    24.999% {z-index: 1;}
    
    25%     {z-index: 0;}
    49.999% {z-index: 0;}

    50%     {z-index: 0;}
    74.999% {z-index: 0;}

    75%     {z-index: 0;}
    100%    {z-index: 0;}
}
@keyframes label-2  {
    0%      {z-index: 0;}
    24.999% {z-index: 0;}
    
    25%     {z-index: 1;}
    49.999% {z-index: 1;}

    50%     {z-index: 0;}
    74.999% {z-index: 0;}

    75%     {z-index: 0;}
    100%    {z-index: 0;}
}
@keyframes label-3  {
    0%      {z-index: 0;}
    24.999% {z-index: 0;}
    
    25%     {z-index: 0;}
    49.999% {z-index: 0;}

    50%     {z-index: 1;}
    74.999% {z-index: 1;}

    75%     {z-index: 0;}
    100%    {z-index: 0;}
}
@keyframes label-4  {
    0%      {z-index: 0;}
    24.999% {z-index: 0;}
    
    25%     {z-index: 0;}
    49.999% {z-index: 0;}

    50%     {z-index: 0;}
    74.999% {z-index: 0;}

    75%     {z-index: 1;}
    100%    {z-index: 1;}
}

#visual label {
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

#slide-1-copy:checked ~ #visual .label-1, #slide-1:checked ~ #visual .label-1-copy { animation-name: label-1; }
#slide-1-copy:checked ~ #visual .label-2, #slide-1:checked ~ #visual .label-2-copy { animation-name: label-2; }
#slide-1-copy:checked ~ #visual .label-3, #slide-1:checked ~ #visual .label-3-copy { animation-name: label-3; }
#slide-1-copy:checked ~ #visual .label-4, #slide-1:checked ~ #visual .label-4-copy { animation-name: label-4; }

#slide-6-copy:checked ~ #visual .label-1, #slide-6:checked ~ #visual .label-1-copy, #slide-2-copy:checked ~ #visual .label-1, #slide-2:checked ~ #visual .label-1-copy { animation-name: label-4; } 
#slide-6-copy:checked ~ #visual .label-2, #slide-6:checked ~ #visual .label-2-copy, #slide-2-copy:checked ~ #visual .label-2, #slide-2:checked ~ #visual .label-2-copy { animation-name: label-1; } 
#slide-6-copy:checked ~ #visual .label-3, #slide-6:checked ~ #visual .label-3-copy, #slide-2-copy:checked ~ #visual .label-3, #slide-2:checked ~ #visual .label-3-copy { animation-name: label-2; } 
#slide-6-copy:checked ~ #visual .label-4, #slide-6:checked ~ #visual .label-4-copy, #slide-2-copy:checked ~ #visual .label-4, #slide-2:checked ~ #visual .label-4-copy { animation-name: label-3; } 

#slide-3-copy:checked ~ #visual .label-1, #slide-3:checked ~ #visual .label-1-copy { animation-name: label-3; }
#slide-3-copy:checked ~ #visual .label-2, #slide-3:checked ~ #visual .label-2-copy { animation-name: label-4; }
#slide-3-copy:checked ~ #visual .label-3, #slide-3:checked ~ #visual .label-3-copy { animation-name: label-1; }
#slide-3-copy:checked ~ #visual .label-4, #slide-3:checked ~ #visual .label-4-copy { animation-name: label-2; }

#slide-5-copy:checked ~ #visual .label-1, #slide-5:checked ~ #visual .label-1-copy, #slide-4-copy:checked ~ #visual .label-1, #slide-4:checked ~ #visual .label-1-copy { animation-name: label-2; }
#slide-5-copy:checked ~ #visual .label-2, #slide-5:checked ~ #visual .label-2-copy, #slide-4-copy:checked ~ #visual .label-2, #slide-4:checked ~ #visual .label-2-copy { animation-name: label-3; }
#slide-5-copy:checked ~ #visual .label-3, #slide-5:checked ~ #visual .label-3-copy, #slide-4-copy:checked ~ #visual .label-3, #slide-4:checked ~ #visual .label-3-copy { animation-name: label-4; }
#slide-5-copy:checked ~ #visual .label-4, #slide-5:checked ~ #visual .label-4-copy, #slide-4-copy:checked ~ #visual .label-4, #slide-4:checked ~ #visual .label-4-copy { animation-name: label-1; }

/* /라벨 */


/* /헤더 영역 */


/* 온라인 스토어 */
.knowhow-item .image {
    height: 200px;
    position: relative;
    overflow: hidden;
}

.knowhow-item .image::before,
.knowhow-item .image::after {
    position: absolute;
    left: 20px;
    bottom: 20px;
    width: 20px;
    padding-top: 0.5em;
    color: #fff;
    border-top: 1px solid #fff;
    z-index: 1;
    transition: 0.4s;
}

.knowhow-item .image::before { content: 'Before'; }
.knowhow-item .image::after { content: 'After'; opacity: 0;}


.knowhow-item .image img:last-child {
    position: absolute;
    left: 100%; top: 0;
    transition: 0.4s;
}

.knowhow-item .image:hover img:last-child { left: 0; }
.knowhow-item .image:hover::before { opacity: 0; }
.knowhow-item .image:hover::after { opacity: 1; }


/* /온라인 스토어 */


/* 전문가 소개 */
.design-text {
    position: absolute;
    left: 0;
    top: 0;
    transform: rotate(90deg);
    transform-origin: 10%;
    font-size: 10em;
    font-weight: 900;
    font-family: "Segoe UI", sans-serif;
    color: #fff;
    opacity: 0.1;
}

.expert-item:nth-child(2n - 1) { transform: translateY(-40px); }
.expert-item:nth-child(2n) { transform: translateY(40px); }

.expert-item .inner {
    height: 400px;
    transform-style: preserve-3d;
    perspective: 1000px;
    position: relative;
}

.expert-item .front, .expert-item .back {
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    transition: transform 1s;
    overflow: hidden;
}

.expert-item img {
    width: 180%;
    position: absolute;
    left: 0; top: 0;
}

.expert-item .back {
    background-color: #fff;
    transform: rotateY(-180deg);
    box-shadow: 1px 3px 10px #0005;
}

.expert-item:hover .front { transform: rotateY(180deg); }
.expert-item:hover .back { transform: rotateY(0); }

@media(max-width: 992px){
    .expert-item:nth-child(2n-1) img {
        right: 0;
        left: auto;
    }
}

/* /전문가 소개 */

/* 전문가 리뷰 */
.review-item .image {
    max-width: 150px;
    flex: 0 0 150px;
    height: 200px;
}

.review-item .text {
    flex: 0 0 calc(100% - 150px);
    max-width: calc(100% - 150px);
    height: 100%;
}

/* /전문가 리뷰 */

/* 스토어 페이지 */

.buy-count {
    width: 80px;
    padding-left: 1em;
    border-radius: 40px;
    border: 1px solid #aaa;
    color: #555;
}

.search {
    display: flex;
    width: 300px;
    height: 2em;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 1em;
}

.search .icon {
    text-align: center;
    line-height: 2em;
    width: 2em;
    height: 2em;
    color: #aaa;
}

.search input {
    width: calc(100% - 2em);
    padding-left: .5em;
    background-color: transparent;
    border: none;
    font-size: .9em;
    color: #aaa;
}

#drop-area {
    --color: #30475e;
    width: 300px;
    height: 200px;
    position: absolute;
    right: 0;
    top: 100%;
    margin-top: 20px;
    margin-right: 20px;
    background-color: var(--color);
    pointer-events: none;
    opacity: 0;
    transform: translateY(-50px);
    transition: 0.4s;
}

#drop-area::before {
    content: '';
    position: absolute;
    right: 25px;
    bottom: 100%;
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent var(--color) transparent;
}

#drop-area > div > div { transition: 0.4s; }

#drop-area .error, #drop-area .success, #drop-area.error .normal, #drop-area.success .normal { opacity: 0; }
#drop-area.error .error, #drop-area.success .success { opacity: 1; }

#drop-area.success { --color: #c1a57b; }
#drop-area.error { --color: #e43737; }

#open-cart:checked ~ #drop-area {
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
}

/* /스토어 페이지 */